<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page Blog_Store</title>

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- FONTAWSOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!-- CUSTOM CSS STYLE -->
    <link rel="stylesheet" href="../css/style.css">


</head>

<body>
    <!-- HEADER SECTION START -->
    <%- include('common/header.ejs') %>

        <!-- HEADER SECTION END -->
        <section class="container-fluid parallex-3">
            <div class="container py-5 text-white  text-center">
                <div class="row py-3">
                    <div class="col-lg-9 mx-auto about-page">
                        <h1><span>ABOUT</span> PAGE</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- LIFESTYLE START  -->
        <section class="container mt-1 py-3">
            <div class="container-fluid">
                <div class="l-Heading text-center mt-3">
                    <h1>SECRETS OF <span>BLOG </span>YOU CAN LEARN HERE</h1>
                    <p>A PLACE FOR YOUR FITNESS GOAL OF ATHLETIC-BASED GROUP TRAINING</p>
                </div>
                <div class="row life-row d-flex justify-content-between mt-5 py-2">
                    <div class="col-md-5 col-lg-5">
                        <img class="img-fluid fitness-img" src="./images/young.jpg" alt="">
                    </div>
                    <div class="col-md-7 life-desc">
                        <h6>Hi, I am <span>CALVIN KLEIN</span> </h6>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            launtium,
                            Sed ut perspiciatis unde omnis iste natus error sit ueed ut perspiciatis unde omnis iste
                            natus
                            error sit vtotam.
                        </p><br>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            launtium,
                            Sed ut perspiciatis unde omnis iste natus error sit ueed ut perspiciatis unde omnis iste
                            natus
                            error sit vtotam.
                        </p>
                        <button class="float">READ MORE INFO</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- LIFESTYLE END  -->
        <section class="services-container">
            <div class="container">
                <h1 class="section-heading ">ABOUT MY <span> ACHIEVEMENT</span> </h1>
                <p class="mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the
                    industry's</p>
                <div class="card-wrapper mb-5">
                    <div class="card mt-5">
                        <img src="./images/m1.png" alt="">
                        <h2>AMAZING EXPERIENCE</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid dolorem incidunt
                            natus
                            beatae laborum labore, magnam sapiente?</p>
                    </div>
                    <div class="card mt-5">
                        <img src="./images/m2.png" alt="">
                        <h2>MEDALS WON</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid dolorem incidunt
                            natus
                            beatae laborum labore, magnam sapiente?</p>
                    </div>
                    <div class="card mt-5">
                        <img src="./images/m3.png" alt="">
                        <h2>TALENTED STAF</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid dolorem incidunt
                            natus
                            beatae laborum labore, magnam sapiente?</p>
                    </div>
                    <div class="card mt-5">
                        <img src="./images/m4.png" alt="">
                        <h2>ADVENTURE ZONE</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquid dolorem incidunt
                            natus
                            beatae laborum labore, magnam sapiente?</p>
                    </div>

                </div>
            </div>
        </section>
        <%- include('common/footer.ejs') %>
            <!-- CUSTOM JAVASCRIPT START -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
</body>

</html>